.menu-section {
  width: 100%;
  background-color: #000000;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (max-width: 860px) {
  .menu-section {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.menu-section .menu-items {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 800px) {
  .menu-section .menu-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.menu-section .menu-items .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media screen and (max-width: 860px) {
  .menu-section .menu-items .menu-item {
    display: none;
  }
}

.menu-section .menu-items .menu-item i {
  font-size: 1.25rem;
  color: #fff;
}

.menu-section .menu-items .menu-item .fa-map-marker {
  margin-left: 30px;
}

.menu-section .menu-items .menu-item .fa-phone {
  margin-top: 1.2px;
}

.menu-section .menu-items .menu-item h4 {
  font-size: 16px;
  color: #fff;
  padding-left: 15px;
  padding-top: 3px;
  font-family: "Montserrat", Sans-serif;
  font-weight: 300;
}

.menu-section .menu-items .contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 800px) {
  .menu-section .menu-items .contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu-section .menu-items .contact i {
  color: #fff;
  font-size: 1.25rem;
  margin-left: 25px;
}

.menu-section .menu-items .contact i:hover {
  color: #C5A572;
}

.header-section {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  position: absolute;
  z-index: 3;
}

@media screen and (max-width: 860px) {
  .header-section {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.header-section .header-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.header-section .header-items .logo {
  width: 100%;
}

.header-section .header-items .logo h1 {
  color: #fff;
  font-size: 2.8em;
  letter-spacing: 0px;
  font-family: "Yeseva One", Sans-serif;
  font-weight: 600;
}

.header-section .header-items .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-section .header-items .nav-bar li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 65px;
  padding-top: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .header-section .header-items .nav-bar li {
    height: auto;
  }
}

@media screen and (max-width: 800px) {
  .header-section .header-items .nav-bar li {
    display: none;
  }
}

.header-section .header-items .nav-bar li:hover .pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-section .header-items .nav-bar li:hover .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-section .header-items .nav-bar li a {
  color: #CECECE;
  font-size: 15px;
  letter-spacing: 1px;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Poppins", Sans-serif;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .header-section .header-items .nav-bar li a {
    height: auto;
  }
}

.header-section .header-items .nav-bar li a:hover {
  border-bottom: 4px solid #fff;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-section .header-items .nav-bar li a:hover i {
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-section .header-items .nav-bar li a i {
  font-size: 10px;
  color: #CECECE;
  padding-left: 6px;
  padding-top: 5px;
}

.header-section .header-items .nav-bar li .home {
  border-bottom: 4px solid #fff;
  color: #fff;
}

.header-section .header-items .nav-bar li .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 150px;
  height: 150px;
  position: absolute;
  background-color: #262626;
  top: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  left: 20px;
  z-index: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .header-section .header-items .nav-bar li .menu {
    height: auto;
  }
}

.header-section .header-items .nav-bar li .menu li {
  width: 100%;
  height: 50px;
  padding-right: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 25px;
  padding-bottom: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .header-section .header-items .nav-bar li .menu li {
    height: auto;
  }
}

.header-section .header-items .nav-bar li .menu li:hover {
  background-color: #fff;
}

.header-section .header-items .nav-bar li .menu li:hover a {
  color: #C5A572;
}

.header-section .header-items .nav-bar li .menu li a {
  border-bottom: 0px;
  margin-left: 0px;
}

.header-section .header-items .nav-bar li .pages {
  width: 150px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #262626;
  position: absolute;
  top: 70px;
  left: 30px;
  display: none;
  z-index: 1;
}

@media screen and (max-width: 1200px) {
  .header-section .header-items .nav-bar li .pages {
    height: auto;
  }
}

.header-section .header-items .nav-bar li .pages li {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 25px;
  padding-bottom: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-section .header-items .nav-bar li .pages li:hover {
  background-color: #fff;
}

.header-section .header-items .nav-bar li .pages li:hover a {
  color: #C5A572;
}

.header-section .header-items .nav-bar li .pages li a {
  border-bottom: 0px;
  margin-left: 0px;
}

.header-section .header-items .nav-bar .book {
  font-size: 0.8rem;
  width: 170px;
  height: 50px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: rgba(2, 1, 1, 0);
  border: 1px solid #fff;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.8rem;
  font-family: "Poppins", Sans-serif;
  font-weight: 600;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .header-section .header-items .nav-bar .book {
    display: none;
  }
}

.header-section .header-items .nav-bar .book:hover {
  background-color: #fff;
  color: #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-section .header-items .nav-bar .book:hover i {
  color: #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header-section .header-items .nav-bar .book i {
  color: #fff;
  font-size: 0.8rem;
}

.slider-section {
  width: 100%;
}

.slider-section .slider-items {
  width: 100%;
  display: -ms-grid;
  display: grid;
}

.slider-section .slider-items .slider-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 680px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .slider-section .slider-items .slider-item {
    width: 100%;
  }
}

@media screen and (max-width: 860px) {
  .slider-section .slider-items .slider-item {
    height: auto;
    padding-bottom: 30px;
  }
}

.slider-section .slider-items .slider-item .info {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 70px;
  z-index: 1;
  -webkit-animation: fadeInUp 1600ms both;
          animation: fadeInUp 1600ms both;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}

@media screen and (max-width: 760px) {
  .slider-section .slider-items .slider-item .info {
    text-align: center;
  }
}

.slider-section .slider-items .slider-item .info h6 {
  color: #C5A572;
  font-family: "Italianno", Sans-serif;
  font-size: 3rem;
  font-weight: normal;
}

@media screen and (max-width: 760px) {
  .slider-section .slider-items .slider-item .info h6 {
    text-align: center;
  }
}

.slider-section .slider-items .slider-item .info h3 {
  font-family: "Yeseva One", Sans-serif;
  font-size: 3.75rem;
  color: #fff;
  letter-spacing: 0px;
  padding-top: 45px;
  font-weight: 400;
}

@media screen and (max-width: 760px) {
  .slider-section .slider-items .slider-item .info h3 {
    text-align: center;
  }
}

.slider-section .slider-items .slider-item .info p {
  color: rgba(255, 255, 255, 0.93);
  font-family: "Poppins", Sans-serif;
  font-size: 1.1rem;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 45px;
  font-weight: 400;
}

.slider-section .slider-items .slider-item .info img {
  margin-top: 45px;
}

.slider-section .slider-items .slider-item .info .book-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  width: 330px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
  .slider-section .slider-items .slider-item .info .book-table {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.slider-section .slider-items .slider-item .info .book-table a {
  padding: 15px 20px 15px 20px;
  background-color: #C5A572;
  color: #1C1C1C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poppins", Sans-serif;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-weight: 500;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 860px) {
  .slider-section .slider-items .slider-item .info .book-table a {
    margin-top: 20px;
  }
}

.slider-section .slider-items .slider-item .info .book-table a:nth-child(2) {
  background-color: #1C1C1C;
  color: #C5A572;
}

.slider-section .slider-items .slider-item .info .book-table a:nth-child(2):hover {
  background-color: #C5A572;
  color: #1C1C1C;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider-section .slider-items .slider-item .info .book-table a:hover {
  background-color: #1C1C1C;
  color: #C5A572;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slider-section .slider-items .slider-item .blur {
  width: 100%;
  position: absolute;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1D0B03), to(rgba(43, 19, 7, 0.6)));
  background-image: linear-gradient(180deg, #1D0B03 0%, rgba(43, 19, 7, 0.6) 100%);
  opacity: 0.66;
}

.book-section {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 90px;
}

@media screen and (max-width: 860px) {
  .book-section {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.book-section .book-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 860px) {
  .book-section .book-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.book-section .book-items .book-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  height: 540px;
  background-color: #222222;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: center center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.book-section .book-items .book-item:nth-child(2) {
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
}

.book-section .book-items .book-item h6 {
  color: #C5A572;
  font-family: "Italianno", Sans-serif;
  font-size: 1.9rem;
}

@media screen and (max-width: 760px) {
  .book-section .book-items .book-item h6 {
    text-align: center;
  }
}

.book-section .book-items .book-item h2 {
  color: #fff;
  font-family: "Yeseva One", Sans-serif;
  font-size: 2.8rem;
}

@media screen and (max-width: 760px) {
  .book-section .book-items .book-item h2 {
    text-align: center;
  }
}

.book-section .book-items .book-item p {
  color: #fff;
  font-family: "Poppins", Sans-serif;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
}

.book-section .book-items .book-item .book {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.book-section .book-items .book-item .book a {
  padding: 15px 20px 15px 20px;
  background-color: transparent;
  font-family: "Poppins", Sans-serif;
  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  border: 1px solid #fff;
  font-weight: 600;
}

.book-section .book-items .book-item .book a:nth-child(2) {
  padding: 15px 20px 15px 20px;
}

.book-section .book-items .book-item .book a:hover {
  background-color: #fff;
  color: #000000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.ourmenu-section {
  width: 100%;
  padding-top: 190px;
  position: relative;
}

@media screen and (max-width: 860px) {
  .ourmenu-section {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.ourmenu-section .background-overlay {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 70px;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.1;
  background-position: right;
}

.ourmenu-section .items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-row-gap: 20px;
}

.ourmenu-section .items .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ourmenu-section .items .title h6 {
  color: #C5A572;
  font-family: "Italianno", Sans-serif;
  font-size: 1.9rem;
  font-weight: normal;
}

@media screen and (max-width: 760px) {
  .ourmenu-section .items .title h6 {
    text-align: center;
  }
}

.ourmenu-section .items .title h2 {
  color: #000000;
  font-family: "Yeseva One", Sans-serif;
  font-size: 2.8rem;
  padding-top: 30px;
}

@media screen and (max-width: 760px) {
  .ourmenu-section .items .title h2 {
    text-align: center;
  }
}

.ourmenu-section .items .title img {
  margin-top: 30px;
}

.ourmenu-section .items .ourmenu-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 20px;
  padding-right: 60px;
  padding-left: 60px;
}

@media screen and (max-width: 860px) {
  .ourmenu-section .items .ourmenu-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 70px;
  }
}

.ourmenu-section .items .ourmenu-items .ourmenu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 300px;
  height: 350px;
  background-color: #CECECE;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ourmenu-section .items .ourmenu-items .ourmenu-item:hover {
  background-size: 120%;
}

.ourmenu-section .items .ourmenu-items .ourmenu-item .item {
  width: 100%;
  height: 150px;
  background-color: #1C1C1C;
  opacity: 0.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .ourmenu-section .items .ourmenu-items .ourmenu-item .item {
    height: auto;
  }
}

.ourmenu-section .items .ourmenu-items .ourmenu-item .item h3 {
  font-family: "Italianno", Sans-serif;
  font-size: 2em;
  color: #C5A572;
}

@media screen and (max-width: 760px) {
  .ourmenu-section .items .ourmenu-items .ourmenu-item .item h3 {
    text-align: center;
  }
}

.ourmenu-section .items .ourmenu-items .ourmenu-item .item h4 {
  font-family: "Yeseva One", Sans-serif;
  font-size: 2em;
  color: #fff;
}

@media screen and (max-width: 760px) {
  .ourmenu-section .items .ourmenu-items .ourmenu-item .item h4 {
    text-align: center;
  }
}

.ourmenu-section .items .ourmenu-items .ourmenu-item .big {
  height: 190px;
}

.about-section {
  width: 100%;
  padding-top: 140px;
  position: relative;
}

@media screen and (max-width: 860px) {
  .about-section {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.about-section .background-overlay {
  width: 400px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  bottom: 250px;
  left: -250px;
  opacity: 0.1;
}

.about-section .about-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding-left: 40px;
  grid-column-gap: 20px;
}

@media screen and (max-width: 860px) {
  .about-section .about-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }
}

.about-section .about-items .about-item {
  width: 100%;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  height: 550px;
  position: relative;
}

.about-section .about-items .about-item .item {
  width: 416px;
  height: 277px;
  background-size: cover;
  bottom: -60px;
  position: absolute;
  left: 15px;
}

@media screen and (max-width: 1200px) {
  .about-section .about-items .about-item .item {
    height: auto;
    width: 100%;
  }
}

.about-section .about-items .info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 90px;
  height: 570px;
}

@media screen and (max-width: 760px) {
  .about-section .about-items .info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about-section .about-items .info h6 {
  color: #C5A572;
  font-family: "Italianno", Sans-serif;
  font-size: 1.9rem;
  font-weight: normal;
}

@media screen and (max-width: 760px) {
  .about-section .about-items .info h6 {
    text-align: center;
  }
}

.about-section .about-items .info h2 {
  color: #000000;
  font-family: "Yeseva One", Sans-serif;
  font-size: 2.8rem;
}

@media screen and (max-width: 760px) {
  .about-section .about-items .info h2 {
    text-align: center;
  }
}

.about-section .about-items .info p {
  color: #7F7F7F;
  font-family: "Poppins", Sans-serif;
  line-height: 1.5em;
  letter-spacing: 0px;
}

@media screen and (max-width: 760px) {
  .about-section .about-items .info p {
    text-align: center;
  }
}

.about-section .about-items .info .history {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .about-section .about-items .info .history {
    width: 100%;
  }
}

.about-section .about-items .info .history a {
  font-family: "Poppins", Sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #C5A572;
  padding: 15px 20px 15px 20px;
  border: 1px solid #C5A572;
}

.about-section .about-items .info .history a:hover {
  background-color: #C5A572;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.restaurant-section {
  width: 100%;
  padding-top: 150px;
  position: relative;
}

@media screen and (max-width: 860px) {
  .restaurant-section {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.restaurant-section .restaurant-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 860px) {
  .restaurant-section .restaurant-items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 40px;
  }
}

.restaurant-section .restaurant-items .info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 550px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 760px) {
  .restaurant-section .restaurant-items .info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.restaurant-section .restaurant-items .info h6 {
  color: #C5A572;
  font-family: "Italianno", Sans-serif;
  font-size: 1.9rem;
  font-weight: normal;
}

@media screen and (max-width: 760px) {
  .restaurant-section .restaurant-items .info h6 {
    text-align: center;
  }
}

.restaurant-section .restaurant-items .info h2 {
  color: #000000;
  font-family: "Yeseva One", Sans-serif;
  font-size: 2.8rem;
}

@media screen and (max-width: 760px) {
  .restaurant-section .restaurant-items .info h2 {
    text-align: center;
  }
}

.restaurant-section .restaurant-items .info p {
  color: #7F7F7F;
  font-family: "Poppins", Sans-serif;
  line-height: 1.5em;
}

@media screen and (max-width: 760px) {
  .restaurant-section .restaurant-items .info p {
    text-align: center;
  }
}

.restaurant-section .restaurant-items .info a {
  font-family: "Poppins", Sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px 20px 15px 20px;
  color: #C5A572;
  border: 1px solid #C5A572;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.restaurant-section .restaurant-items .info a:hover {
  background-color: #C5A572;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.restaurant-section .restaurant-items .restaurant-item {
  width: 100%;
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  height: 530px;
  position: relative;
}

.restaurant-section .restaurant-items .restaurant-item .item {
  width: 300px;
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -60px;
  right: 20px;
}

@media screen and (max-width: 1200px) {
  .restaurant-section .restaurant-items .restaurant-item .item {
    height: auto;
  }
}

.restaurant-section .background-overlay {
  position: absolute;
  width: 400px;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  right: 0;
  opacity: 0.1;
  top: 130px;
  background-position: right;
}

.elementor-section {
  width: 100%;
  padding-top: 90px;
  padding-left: 30px;
  padding-right: 30px;
}

.elementor-section .elementor-items {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  background-position: center center;
  margin-top: 90px;
}

.review-section {
  width: 100%;
  padding-top: 90px;
}

@media screen and (max-width: 860px) {
  .review-section {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.review-section .review-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-row-gap: 90px;
  position: relative;
}

.review-section .review-items .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review-section .review-items .title h6 {
  color: #C5A572;
  font-family: "Italianno", Sans-serif;
  font-size: 1.9rem;
  font-weight: normal;
}

.review-section .review-items .title h2 {
  color: #000000;
  font-family: "Yeseva One", Sans-serif;
  font-size: 2.8rem;
  padding-top: 30px;
  text-align: center;
}

.review-section .review-items .title img {
  margin-top: 30px;
}

.review-section .review-items .review-item {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

@media screen and (max-width: 860px) {
  .review-section .review-items .review-item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.review-section .review-items .review-item .item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 250px;
  padding-left: 90px;
  padding-right: 50px;
  padding-bottom: 35px;
  pad: 35px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 860px) {
  .review-section .review-items .review-item .item {
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.review-section .review-items .review-item .item .stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review-section .review-items .review-item .item .stars i {
  color: #C5A572;
  font-size: 16px;
}

.review-section .review-items .review-item .item p {
  font-family: "Poppins", Sans-serif;
  color: #9C9C9C;
  padding-top: 20px;
}

@media screen and (max-width: 760px) {
  .review-section .review-items .review-item .item p {
    text-align: center;
  }
}

.review-section .review-items .review-item .item h6 {
  font-family: "Poppins", Sans-serif;
  font-size: 1.1em;
  color: #1C1C1C;
  padding-top: 50px;
}

@media screen and (max-width: 760px) {
  .review-section .review-items .review-item .item h6 {
    text-align: center;
  }
}

.review-section .review-items .line {
  height: 600px;
  position: absolute;
  width: 1px;
  background-color: #CECECE;
  left: 600px;
  top: 200px;
  opacity: 0.8;
}

@media screen and (max-width: 1200px) {
  .review-section .review-items .line {
    display: none;
  }
}

.review-section .review-items .horizontal {
  height: 1px;
  width: 1200px;
  top: 490px;
  background-color: #CECECE;
  left: 0;
  opacity: 0.8;
}

@media screen and (max-width: 1200px) {
  .review-section .review-items .horizontal {
    display: none;
  }
}

.review-section .review-items .rating {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.review-section .review-items .rating a {
  font-family: "Poppins", Sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #C5A572;
  padding: 15px 20px 15px 20px;
  border: 1px solid #C5A572;
  margin-left: 15px;
  margin-right: 40px;
}

@media screen and (max-width: 860px) {
  .review-section .review-items .rating a {
    margin-top: 20px;
  }
}

.review-section .review-items .rating a:hover {
  background-color: #C5A572;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.news-section {
  width: 100%;
  padding-top: 130px;
}

@media screen and (max-width: 860px) {
  .news-section {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.news-section .news-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-row-gap: 20px;
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
}

.news-section .news-items .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news-section .news-items .title h6 {
  color: #C5A572;
  font-family: "Italianno", Sans-serif;
  font-size: 1.9rem;
  font-weight: normal;
}

.news-section .news-items .title h2 {
  color: #000000;
  font-family: "Yeseva One", Sans-serif;
  font-size: 2.8rem;
  padding-top: 30px;
  text-align: center;
}

.news-section .news-items .title img {
  margin-top: 30px;
}

.news-section .news-items .new-item {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 30px;
}

@media screen and (max-width: 860px) {
  .news-section .news-items .new-item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.news-section .news-items .new-item .item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news-section .news-items .new-item .item .background-overlay {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.news-section .news-items .new-item .item .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 180px;
  padding-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .news-section .news-items .new-item .item .info {
    height: auto;
  }
}

.news-section .news-items .new-item .item .info a {
  font-family: "Yeseva One", Sans-serif;
  font-size: 1.1em;
  color: #1C1C1C;
  letter-spacing: 0px;
  font-weight: 600;
}

.news-section .news-items .new-item .item .info h4 {
  font-family: "Poppins", Sans-serif;
  font-size: 0.9em;
  font-style: italic;
  color: #C5A572;
}

@media screen and (max-width: 760px) {
  .news-section .news-items .new-item .item .info h4 {
    text-align: center;
  }
}

.news-section .news-items .new-item .item .info p {
  font-size: 14px;
  color: #777777;
  line-height: 1.5em;
  font-family: "Poppins", Sans-serif;
}

@media screen and (max-width: 760px) {
  .news-section .news-items .new-item .item .info p {
    text-align: center;
  }
}

.news-section .news-items .new-item .item .info .read-more {
  color: #C5A572;
  font-family: "Poppins", Sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.footer-section {
  width: 100%;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  background-size: contain;
  padding-bottom: 30px;
}

.footer-section .footer-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-section .footer-items .footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-section .footer-items .footer-item h2 {
  font-family: "Yeseva One", Sans-serif;
  font-size: 2.5em;
  color: #fff;
}

@media screen and (max-width: 760px) {
  .footer-section .footer-items .footer-item h2 {
    text-align: center;
  }
}

.footer-section .footer-items .footer-item .routine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.3em 1.5em 0.1em 1.5em;
  background-color: rgba(255, 255, 255, 0.07);
  padding-bottom: 20px;
  width: 400px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .footer-section .footer-items .footer-item .routine {
    width: 100%;
  }
}

.footer-section .footer-items .footer-item .routine strong {
  color: #CECECE;
  font-family: "Poppins", Sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}

.footer-section .footer-items .footer-item .routine em {
  color: #CECECE;
  font-family: "Poppins", Sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: 0px;
}

.footer-section .footer-items .footer-item .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  padding-left: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .footer-section .footer-items .footer-item .contact {
    width: 100%;
  }
}

.footer-section .footer-items .footer-item .contact i {
  font-weight: 900;
  font-size: 1em;
  color: #CECECE;
  padding-top: 4px;
}

.footer-section .footer-items .footer-item .contact h3 {
  font-family: "Poppins", Sans-serif;
  font-size: 1em;
  color: #CECECE;
  padding-left: 15px;
}

@media screen and (max-width: 760px) {
  .footer-section .footer-items .footer-item .contact h3 {
    text-align: center;
  }
}

.footer-section .footer-items .footer-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 10px 10px 10px;
  font-family: "Poppins", Sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  color: #C5A572;
  border: 1px solid #C5A572;
  background-color: transparent;
  width: 400px;
}

@media screen and (max-width: 1200px) {
  .footer-section .footer-items .footer-item a {
    width: 100%;
  }
}

.footer-section .footer-items .footer-item a:hover {
  color: #fff;
  border-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer-section .footer-items .footer-item p {
  color: #CECECE;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-section .footer-items .line {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-section .footer-items .line .item {
  width: 33.3%;
  height: 6px;
  background-color: #5B8320;
  z-index: 1;
}

.footer-section .footer-items .line .item:nth-child(2) {
  background-color: #fff;
}

.footer-section .footer-items .line .item:nth-child(3) {
  background-color: #E02020;
}

.footer-section .footer-items .background-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(80deg, #1C1C1C 50%, rgba(28, 28, 28, 0.65) 100%);
  top: 0;
}

.footer-section .footer-items .background-item {
  width: 300px;
  height: 300px;
  z-index: 1;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  left: 40px;
}

@media screen and (max-width: 1200px) {
  .footer-section .footer-items .background-item {
    width: 100%;
  }
}

.container {
  width: 1200px;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: none;
  outline-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */