$black: #000000;
$white: #fff;
$brown: #C5A572;
$grey: #CECECE;
$grey2:#262626;
$black2:#1C1C1C;
$brown2: #523F36;
$black3: #222222;
$grey3:#7F7F7F;
$grey4: #9C9C9C;
$grey5: #777777;
$green:#5B8320;
$red: #E02020;